.tableModal>tbody>tr>td {
    border: 0 !important;
}

.exchangeMoney {
    width: 100%;
    min-height: 100vh;
    text-align: center;
}

.table-div {
    width: 50%;
    margin: auto;
    text-align: left;
    margin-top: 50px;
}



.password-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}