.navbar-default {
    color: black !important;
    background-color: rgb(255, 238, 0) !important;
    border-color: transparent !important;
 
}

.navbar-brand {
    margin-top: 25px;
    margin-bottom: 25px;
}
.nav {
    height: 100px !important;
    line-height: 100px;
    display: flex;
    align-items: center;

}

.navbar-default>.container {
    height: 100px !important;
}

.navbar-default .navbar-brand {
    color: black !important;
}

.navbar-default .navbar-nav>li>a {
    color: black !important;
}